<footer class="custom-footer">
    <div class="custom-footer-wrapper">
  
      <!-- Left column: links -->
      <div class="footer-col left">
        <p>{{ site.author.email }}</p>
        <p><a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></p>
        <p><a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a></p>
      </div>
  
      <!-- Middle column: resume button -->
      <div class="footer-col center">
        <a class="resume-button" href="{{ '/assets/resume.pdf' | relative_url }}" download>
          <button>Download Resume</button>
        </a>
      </div>
  
      <!-- Right column: description -->
      <div class="footer-col right">
        <p>{{ site.description }}</p>
      </div>
  
    </div>
  </footer>
  