<footer class="site-footer">
    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            {% if site.email %}
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
          </ul>
          <ul class="social-media-list">
            {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}">
                  GitHub
                </a>
              </li>
            {% endif %}
            {% if site.linkedin_url %}
              <li>
                <a href="{{ site.linkedin_url }}">
                  LinkedIn
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
    </div>
  </footer>
  