.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .nav-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0.25rem 0.5rem;
  }
  
  .site-nav {
    display: flex;
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .nav-toggle {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 1001;
    }
  
    .site-nav {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: white;
      margin-top: 1rem;
      padding: 1rem;
    }
  
    .site-nav.open {
      display: flex;
    }
  }
  

  
  .resume-button button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .resume-button button:hover {
    background-color: #444;
  }
  