<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>
  <body>

    <header class="site-header" role="banner">
      <div class="wrapper">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </div>
    </header>

    {{ content }}

    <footer class="site-footer">
        <div class="wrapper">
      
          <!-- Bold heading above footer -->
          <p class="footer-heading">{{ site.title }}</p>
      
          <!-- 3 columns -->
          <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
              <p>{{ site.title }}</p>
              <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            </div>
      
            <div class="footer-col footer-col-2">
              {% include social.html %}
            </div>
      
            <div class="footer-col footer-col-3">
              <p>{{ site.description }}</p>
            </div>
          </div>
      
        </div>
      </footer>
      
      

  </body>
</html>
